<h1>
  About Us
</h1>
<div>
   <h3>C U T T I N G _ E D G E</h3>  
  <p>
    D E A R - D / N - C U S T O M E R, <br>
    
    We want to share our passion with you. It began at the beginning where most good stories start. We were young, inexperienced, excited, we are still young and excited, but now more or less experienced. Our goal at D/N is to create beautiful hand-crafted products that will last for generations.
    <br>
    We love wood, from the sawdust to splinters, its ingrained in our lives. We hope that you will come to see with us the amazing beauty in every twig and tree.<br>
    <br>
    T H A N K - Y O U 
    <br>
    -d a n i e l & n a t h a n a e l 
  </p>
</div>