//Import bootstrap-sprockets
@import "bootstrap-sprockets";

// Import cerulean variables
@import "bootswatch/cerulean/variables";

// Then bootstrap itself
@import "bootstrap";

// Bootstrap body padding for fixed navbar
body { padding-top: 60px; }

// And finally bootswatch style itself
@import "bootswatch/cerulean/bootswatch";


#logo {
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  margin-right: 10px;
  font-size: 2em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}
#logo:hover {
  color: white;
  text-decoration: none;
}
body {
  padding-top: 80px;
}
.nav-item {
  margin-left: 25px;
  float: left;
  margin-top: 20px;
}
.center {
  text-align: center;
}
h1, h2, h3, h4 {
  line-height: 1;
}
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}
h2 {
  font-size: 1.2em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}
.left {
  text-align: left;
  letter-spacing: .5px;
}
.footer {
  margin-top: 25px;
  border-top: 1px solid #eaeaea;
  color: 777;
}

div.description,.media-body p {
  font-size: 18px
  
}
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 80%;
      margin: auto;
  }
  
  #productPictures{
    float:left;
    max-width:800px;
    
  }
  
  #productInfo{
    margin: 20px;
  }
  
  .thumbnail > img{
    max-height:189px;
  }